<launch>
        <!-- args = "(추종할 경로 이름)" -->
	<node pkg="wecar_ros" type="wecar_planner2.py" name="planner" args="path9" output="screen" />
	<node pkg="wecar_ros" type="lidar.py" name="lidar_parser"  />
        <node pkg="rviz" type="rviz" name="rviz" args="-d $(find wecar_ros)/rviz/planner.rviz" />
</launch>
